@use "../styles/tokens" as *;

.alert {
  padding: $space-3 $space-4;
  border-radius: $radius-md;
  font-size: $font-size-sm;
  background-color: transparent;
  border: 1px solid transparent;
}

.info {
  border-color: $color-info;
  color: $color-info;
}

.success {
  border-color: $color-success;
  color: $color-success;
}

.error {
  border-color: $color-danger;
  color: $color-danger;
}
